@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
body{
  max-width: 550px;
}
.normal-span-text{
  font-size:12px;
}
.navbar{
  display:flex;
  /* position: absolute; */
  width:550px;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-logo{
  position:absolute;
  width: 82.02px;
  height: 25.35px;
  left: 30px;
  top: 22px;
}
.hero-sec{
  margin:96px;
  display:flex;
  justify-content: center;
}

.hero-img{
  width: 395.91px;
  height: 232px;
}

.content-sec{
  display:flex;
  flex-direction:column;
}

.content-sec p{
  width: 320px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-left:36px;
  margin-top:0;
  margin-bottom: 40px;
}
.content-sec h1{
  width: 347px;
  margin-left: 36px;
  margin-bottom: 10px;
}
.card{
  display:flex;
  flex-direction:column;
  width: 196px;
}
.card-container{
  display:flex;
  flex-direction:row;
  padding-left:36px;
}
.card-image{
  width:176px;
  height:235px;
  border-radius: 9px;
  margin-right: 20px;
}
.ratings-sec{
  max-width: 156px;
}
.star-img{
  width: 14px;
  height: 14px;
  border-radius: 0.5px;
  margin-right:2px;
}
.rating{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #222222;

}
.count{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #918E9B;
}
.country{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #918E9B;

}
.title{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #222222;
  max-width:176px;

}
.price{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #222222;
}











